<div class="topnav">
  <div class="container-nav" >
    <a href="/dashboard/home/1"> News App</a>
    <div class="topnav-right">
      <a href="/dashboard/home/1" class="w3-bar-item w3-button w3-dark-gray">Home</a>
  <a href="/dashboard/general/1" class="w3-bar-item w3-button">General</a>
  <a href="/dashboard/sports/1" class="w3-bar-item w3-button">Sports</a>
  <a href="/dashboard/entertainment/1" class="w3-bar-item w3-button ">Entertainment</a>
  <a href="/dashboard/business/1" class="w3-bar-item w3-button ">Business</a>
  <a href="/dashboard/technology/1" class="w3-bar-item w3-button">Technology</a>
  <a href="/dashboard/science/1" class="w3-bar-item w3-button">Science</a>
  <a href="/dashboard/health/1" class="w3-bar-item w3-button">Health</a>
      <div class="refresh">
        <form method="GET" id="refresh" action="/dashboard/home/1">
          <Button type="submit" class="btn btn-primary" >Refresh</Button>
        </form> 
      </div>
      <a href="/users/setting?id=<%= id %>">Settings</a>
      <a href="/users/logout">Log out</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    
  </div>
</div>

<div class="welcome-text">
  <h2 style = "float:right"> Welcome <%= user.name %></h2>
</div>
<div class="welcome-text">
  <h2>My Dashboard</h2>

  
  <form class="" action="/search/1" method="POST">
  
    <div style="text-align: center;">
<input class="form" id="search_bar" name="search" type="search" placeholder="Search" style="width: 522px; margin-bottom: 10%;"aria-label="Search"> 
<button class="btn btn-primary " style="width: 75px; margin-top: 2px" id="search_button" type="Submit">Search</button>

</div>





<div class="news-container"  >
  <div class="news" >
      <% articles.forEach(function(article,index){ %>
        <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
          <% } else{ %>
            <a href="<%- article.url %>" target="_blank" class="news-box Hover-effect">
              <img src="<%- article.urlToImage %>" alt="Image"> 
              <h3 style="color:white">
                <%- article.title %>
              </h3>
              <p style="color: white;">
                <%- article.content.replace(/<[^>]+>/g, '') %>
              </p>
              <br>
              <Button href="<%- article.url %> "target="_blank" style=" background-color:#005abb;border-radius: 12px;font-weight:bold; color: #fff; box-Shadow: 0 30px 36px 0 rgba(0, 0, 0, 0.2)"">Read more →</Button>

              <p style="margin-bottom: 0px; position: absolute; right: 0; bottom: 0; font-family: ui-monospace;"> <span style="color:white;" >
                <%- new Date(article.publishedAt.slice(0,10)).toDateString() %>  
                  <%- moment.utc(article.publishedAt).local().format('hh : mm A') %> </span></p>
            </a>
          <% } %>
        <% }) %>
      </div>
  </div>

  <div class="pagination">
    <% if (pages > 0) { %>
      
          <% if (current === 1) { %>
              <a>First</a>
          <% } else { %>
              <a href="/dashboard/home/1">First</a>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
              <a>...</a>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i === current) { %>
                  <a><%= i %></a>
              <% } else { %>
                  <a href="/dashboard/home/<%= i %>"><%= i %></a>
              <% } %>
              <% if (i === Number(current) + 4 && i < pages) { %>
                  <a>...</a>
              <% } %>
          <% } %>
          <% if (current === pages) { %>
              <a>Last</a>
          <% } else { %>
              <a href="/dashboard/home/<%= pages %>">Last</a>
          <% } %>
      
    <% } %>
    </div>

<script src="moment.js"></script>
<script src="moment-timezone-with-data.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
